<section class="cart">
  <div class="container cart-container">
    <div class="cart-header">
      <span class="cart-icon-container">
        <svg class="cart-icon" width="18" height="18">
          <use href="img/icons.svg#icon-cart"></use>
        </svg>
      </span>
      <h2 class="cart-title">
        Cart(<span class="cart-product-count-value">0</span>)
      </h2>
    </div>
    <div class="cart-products-container">
      <button type="button" class="cart-products-delete-all-btn">
        <span>Delete all</span>
        <svg class="cart-products-delete-all-icon" width="24" height="24">
          <use href="img/icons.svg#icon-close"></use>
        </svg>
      </button>
      <ul class="cart-products-list"></ul>
    </div>
    <div class="cart-products-empty-container hidden">
      <picture>
        <source
          media="(min-width:768px)"
          srcset="img/cart/cart-tab.webp 1x, img/cart/cart-tab@2x.webp 2x"
        />
        <img
          src="img/cart/cart-mob.webp"
          alt="Empty cart"
          srcset="img/cart/cart-mob.webp 1x, img/cart/cart-mob@2x.webp 2x"
          class="cart-products-empty-image"
          width="132"
          height="114"
        />
      </picture>
      <h3 class="cart-products-empty-title">
        Your basket is <span class="accent-text">empty...</span>
      </h3>
      <p class="cart-products-empty-descr">
        Go to the main page to select your favorite products and add them to the
        cart.
      </p>
    </div>
  </div>
</section>

<template id="cart-product-card-template">
  <li class="cart-products-item">
    <div class="cart-products-item-image-container">
      <img
        src=""
        alt=""
        class="cart-products-item-image"
        width="64"
        height="64"
      />
    </div>
    <div class="cart-products-item-content">
      <h3 class="cart-products-subtitle"></h3>
      <ul class="cart-products-item-descr-list">
        <li class="cart-products-item-descr-item">
          Category:
          <span class="cart-products-item-descr-item-value"></span>
        </li>
        <li class="cart-products-item-descr-item">
          Size:
          <span class="cart-products-item-descr-item-value"></span>
        </li>
      </ul>
      <div class="cart-products-item-footer">
        <p class="cart-products-item-price"></p>
        <div class="cart-products-item-qty-container quantity-selector">
          <button
            type="button"
            class="cart-products-item-qty-btn decrease"
            aria-label="Зменшити кількість"
          >
            <svg class="cart-products-item-qty-icon" width="14" height="14">
              <use href="img/icons.svg#icon-minus"></use>
            </svg>
          </button>
          <input
            type="number"
            class="cart-products-item-qty-input"
            value="1"
            min="1"
            max="99"
            aria-live="polite"
            aria-atomic="true"
          />
          <button
            type="button"
            class="cart-products-item-qty-btn increase"
            aria-label="Збільшити кількість"
          >
            <svg class="cart-products-item-qty-icon" width="14" height="14">
              <use href="img/icons.svg#icon-plus"></use>
            </svg>
          </button>
        </div>
      </div>
    </div>
    <button type="button" class="cart-products-item-delete-btn">
      <svg class="cart-products-item-delete-icon" width="18" height="18">
        <use href="img/icons.svg#icon-close"></use>
      </svg>
    </button>
  </li>
</template>
