<section class="filters">
  <div class="container">
    <h2>Filters:</h2>
    <form action="#" class="filters-form">
      <div class="filters-search-container">
        <input type="filters-search-input" />
        <button type="submit" class="filters-search-btn">
          <svg class="filters-search-icon" width="20" height="20">
            <use href="img/icons.svg#search-icon"></use>
          </svg>
        </button>
      </div>
      <select name="filters-categories-select">
        <option value="A-Z" selected>Categories</option>
      </select>
      <select name="filters-sort-select">
        <option value="A-Z" selected>A to Z</option>
        <option value="Z-A">Z to A</option>
      </select>
    </form>
  </div>
</section>
