<footer class="footer">
  <div class="container">
    <img
      src="img/footer/footer-logo.svg"
      class="footer-logo"
      alt="logo"
      width="154"
      height="28"
    />
    <ul class="footer-socials-list">
      <li class="footer-socials-item">
        <svg class="footer-social-icon" width="24" height="24">
          <use href="img/icons.svg#facebook-icon"></use>
        </svg>
      </li>
      <li class="footer-socials-item">
        <svg class="footer-social-icon" width="24" height="24">
          <use href="img/icons.svg#instagram-icon"></use>
        </svg>
      </li>
      <li class="footer-socials-item">
        <svg class="footer-social-icon" width="24" height="24">
          <use href="img/icons.svg#youtube-icon"></use>
        </svg>
      </li>
    </ul>
    <p class="footer-title">Discover the Variety of Flavors and Quality</p>
    <p class="footer-text">
      An online store where you will find fresh, natural and delicious products
      for a healthy life and unforgettable gastronomic adventures.
    </p>
    <p class="footer-lead">Subscribe and learn about new products!</p>
    <form action="#" class="footer-form">
      <input type="email" class="footer-form-input" placeholder="Email" />
      <button type="submit" class="footer-form-btn">Send</button>
    </form>
    <p class="footer-ending-text">Food Boutique. All rights reserved.</p>
    <p class="footer-privacy">Privacy Policy / Terms of Service</p>
  </div>
</footer>
