<div class="order-success-modal-backdrop modal-backdrop">
  <div class="order-success-modal-window modal-window">
    <div class="order-success-modal-container modal-container">
      <button type="button" class="modal-close-btn" aria-label="Close modal">
        <svg class="modal-close-icon" width="22" height="22">
          <use href="img/icons.svg#icon-close"></use>
        </svg>
      </button>

      <img
        loading="lazy"
        src="img/order-success-modal/order-success.webp"
        alt="some tomatoes"
        srcset="
          img/order-success-modal/order-success.webp    1x,
          img/order-success-modal/order-success@2x.webp 2x
        "
        class="order-success-modal-image"
        width="140"
        height="140"
      />
      <h3 class="order-success-modal-title">Order success</h3>
      <p class="order-success-modal-text">
        Thank you for shopping at Food Boutique. Your order has been received
        and is now being freshly prepared just for you! Get ready to indulge in
        nourishing goodness, delivered right to your doorstep. We're thrilled to
        be part of your journey to better health and happiness.
      </p>
    </div>
  </div>
</div>
