<div class="modal-backdrop product-modal-backdrop"></div>

<template id="product-modal-template">
  <div class="product-modal-window modal-window">
    <div class="product-modal-container modal-container">
      <button type="button" class="modal-close-btn" aria-label="Close modal">
        <svg class="modal-close-btn-icon" width="22" height="22">
          <use href="img/icons.svg#icon-close"></use>
        </svg>
      </button>
      <div class="product-modal-main">
        <div class="product-modal-image-container">
          <img
            loading="lazy"
            src=""
            alt=""
            class="product-modal-image"
            width="160"
            height="160"
          />
          <div class="product-modal-discount"></div>
        </div>
        <div class="product-modal-content">
          <h3 class="product-modal-title">Baby Plum Tomatoes</h3>
          <ul class="product-modal-decsr-list">
            <li class="product-modal-descr-item">
              Category:<span class="product-modal-descr-item-value"
                >Fresh Produce</span
              >
            </li>
            <li class="product-modal-descr-item">
              Size:
              <span class="product-modal-descr-item-value">200 g</span>
            </li>
            <li class="product-modal-descr-item">
              Popularity:
              <span class="product-modal-descr-item-value">0</span>
            </li>
          </ul>
          <p class="product-modal-descr-text">
            A round, orange vegetable with a thick shell and seeds inside. It is
            often used in cooking and baking for its sweet and earthy flavor.
          </p>
        </div>
      </div>
      <div class="product-modal-footer">
        <p class="product-modal-price">$3.99</p>
        <button
          type="button"
          class="product-modal-btn add-to-cart-btn"
          aria-label="Add product to cart"
        >
          <span class="product-modal-btn-text">Add to</span
          ><svg
            class="product-modal-btn-icon icon-default"
            width="18"
            height="18"
          >
            <use href="img/icons.svg#icon-cart"></use>
          </svg>
          <svg
            class="product-modal-btn-icon icon-active"
            width="18"
            height="18"
          >
            <use href="img/icons.svg#icon-check"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</template>
