<section class="products">
  <div class="container">
    <h2 class="products-title visually-hidden">Products catalog</h2>
    <ul class="products-list"></ul>
    <div class="products-empty-container hidden">
      <h3 class="products-empty-title">
        Nothing was found for the selected
        <span class="accent-text">filters...</span>
      </h3>
      <p class="products-empty-descr">
        Try adjusting your search parameters or browse our range by other
        criteria to find the perfect product for you.
      </p>
    </div>
    <ul class="products-pagination-container">
      <li class="products-pagination-side-item">
        <ul class="products-pagination-left-side">
          <li class="products-pagination-left-side-items">
            <button
              type="button"
              class="product-pagination-nav-btn all green-btn"
              aria-label="Go to the first page"
            >
              <svg
                class="product-pagination-nav-btn-icon"
                width="24"
                height="24"
              >
                <use href="img/icons.svg#icon-pagin-caret-left-all"></use>
              </svg>
            </button>
          </li>
          <li class="products-pagination-left-side-items">
            <button
              type="button"
              class="product-pagination-nav-btn once green-btn"
              aria-label="Go to the previous page"
            >
              <svg
                class="product-pagination-nav-btn-icon"
                width="24"
                height="24"
              >
                <use href="img/icons.svg#icon-pagin-caret-left-once"></use>
              </svg>
            </button>
          </li>
        </ul>
      </li>
      <li class="products-pagination-side-item">
        <ul class="products-pagination-center-side"></ul>
      </li>
      <li class="products-pagination-side-item">
        <ul class="products-pagination-right-side">
          <li class="products-pagination-right-side-items">
            <button
              type="button"
              class="product-pagination-nav-btn once green-btn"
              aria-label="Go to the next page"
            >
              <svg
                class="product-pagination-nav-btn-icon"
                width="24"
                height="24"
              >
                <use href="img/icons.svg#icon-pagin-caret-right-once"></use>
              </svg>
            </button>
          </li>
          <li class="products-pagination-right-side-items">
            <button
              type="button"
              class="product-pagination-nav-btn all green-btn"
              aria-label="Go to the last page"
            >
              <svg
                class="product-pagination-nav-btn-icon"
                width="24"
                height="24"
              >
                <use href="img/icons.svg#icon-pagin-caret-right-all"></use>
              </svg>
            </button>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</section>

<template id="products-card-template">
  <li class="products-item product-card">
    <div class="products-item-image-container">
      <img
        loading="lazy"
        src=""
        alt=""
        class="products-item-image"
        width="140"
        height="140"
      />
      <div class="products-item-discount"></div>
    </div>
    <h3 class="products-subtitle">Baby Plum Tomatoes</h3>
    <ul class="products-item-decsr-list">
      <li class="products-item-descr-item">
        Category:<span class="products-item-descr-item-value"
          >Fresh Produce</span
        >
      </li>
      <li class="products-item-descr-item">
        Size:
        <span class="products-item-descr-item-value">200 g</span>
      </li>
      <li class="products-item-descr-item">
        Popularity:
        <span class="products-item-descr-item-value">0</span>
      </li>
    </ul>
    <div class="products-item-footer">
      <p class="products-item-price">$3.99</p>
      <button
        type="button"
        class="products-item-btn add-to-cart-btn"
        aria-label="Add product to cart"
      >
        <svg class="products-item-btn-icon icon-default" width="18" height="18">
          <use href="img/icons.svg#icon-cart"></use>
        </svg>
        <svg class="products-item-btn-icon icon-active" width="18" height="18">
          <use href="img/icons.svg#icon-check"></use>
        </svg>
      </button>
    </div>
  </li>
</template>
