/* #region Phone styles */
.discount-products {
  padding: 40px 0 80px;
}

.discount-products-title {
  margin-bottom: 20px;
}
.discount-products-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.discount-products-item {
  padding: 16px;
  background-color: var(--white-color);
  border-radius: 15px;
}
.discount-products-item-image-container {
  position: relative;
  border-radius: 10px;
  padding: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background-color);
  margin-bottom: 24px;
}
.discount-products-item-discount-image {
  position: absolute;
  top: -13px;
  right: -5px;
}
.discount-products-item-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.discount-products-item-buy-side {
  display: flex;
  align-items: center;
  gap: 8px;
}
.discount-products-item-price {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.11;
  color: var(--main-color);
}
.discount-products-item-btn {
  border: none;
  border-radius: 30px;
  padding: 8px;
  background-color: var(--accent-color);
  display: flex;
  justify-content: center;
  align-items: center;
}
.discount-products-item-btn-icon {
  fill: var(--light-main-color);
}
/* #endregion */

/* #region Tablet styles */
@media only screen and (min-width: 768px) {
  .discount-products {
    padding: 32px 0 100px;
  }

  .discount-products-list {
    flex-direction: row;
    gap: 32px;
    flex-wrap: wrap;
  }
  .discount-products-item {
    width: 336px;
  }
  .discount-products-item-image-container {
    margin-bottom: 20px;
  }
  .discount-products-item-image {
    width: 114px;
    height: 114px;
  }
  .discount-products-item-price {
    font-size: 20px;
    line-height: 1.2;
  }
}
/* #endregion */

/* #region Desktop styles */
@media only screen and (min-width: 1440px) {
  .discount-products {
    padding: 20px 0 0;
  }
  .discount-products-list {
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 20px;
  }
  .discount-products-item {
    width: 275px;
  }
  .discount-products-item-image {
    width: 105px;
    height: 105px;
  }
}
/* #endregion */
