.footer {
  padding: 40px 0 20px;
  background-color: var(--accent-color);
}

.footer-logo {
  margin-bottom: 20px;
}
.footer-socials-list {
  display: flex;
  gap: 12px;
  margin-bottom: 40px;
}
.footer-socials-item {
}
.footer-socials-link {
  padding: 8px;
  border: 1px solid rgba(232, 232, 226, 0.3);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-social-icon {
  fill: var(--light-main-color);
}
.footer-title {
  color: var(--light-main-color);
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: -0.02em;
  font-weight: 500;
  margin-bottom: 14px;
}
.footer-text {
  color: var(--light-main-translucent-color);
  margin-bottom: 80px;
  font-weight: 400;
  line-height: 1.29;
}
.footer-lead {
  color: var(--light-main-translucent-color);
  margin-bottom: 20px;
  font-weight: 400;
  line-height: 1.29;
}
.footer-form {
}
.footer-form-input {
  border: 1px solid var(--light-main-color);
  border-radius: 30px;
  padding: 12px 18px;
  margin-bottom: 14px;
  width: 100%;
  background-color: transparent;
}
.footer-form-input::placeholder {
  color: var(--light-main-translucent-color);
}
.footer-form-btn {
  border: none;
  border-radius: 30px;
  width: 100%;
  padding: 12px;
  text-align: center;
  background-color: var(--light-main-color);
  margin-bottom: 80px;
}
.footer-ending-text {
  color: var(--light-main-translucent-color);
  margin-bottom: 8px;
  font-weight: 400;
  line-height: 1.29;
}
.footer-privacy {
  color: var(--light-main-translucent-color);
  font-weight: 400;
  line-height: 1.29;
}
