/* #region Phone styles */
.footer {
  padding: 40px 0 20px;
  background-color: var(--accent-color);
}
.footer-logo {
  margin-bottom: 20px;
}
.footer-socials-list {
  display: flex;
  gap: 12px;
  margin-bottom: 40px;
}

.footer-socials-link {
  padding: 8px;
  border: 1px solid rgba(232, 232, 226, 0.3);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-social-icon {
  fill: var(--light-main-color);
}
.footer-title {
  color: var(--light-main-color);
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: -0.02em;
  font-weight: 500;
  margin-bottom: 14px;
}
.footer-text {
  color: var(--light-main-translucent-color);
  margin-bottom: 80px;
  font-weight: 400;
  line-height: 1.29;
}
.footer-lead {
  color: var(--light-main-translucent-color);
  margin-bottom: 20px;
  font-weight: 400;
  line-height: 1.29;
}
.footer-form-input {
  border: 1px solid var(--light-main-color);
  border-radius: 30px;
  padding: 12px 18px;
  margin-bottom: 14px;
  width: 100%;
  background-color: transparent;
}
.footer-form-input::placeholder {
  color: var(--light-main-translucent-color);
}
.footer-form-btn {
  border: none;
  border-radius: 30px;
  width: 100%;
  padding: 12px;
  text-align: center;
  background-color: var(--light-main-color);
  margin-bottom: 80px;
}
.footer-ending-text {
  color: var(--light-main-translucent-color);
  margin-bottom: 8px;
  font-weight: 400;
  line-height: 1.29;
  font-size: 14px;
}
.footer-privacy {
  color: var(--light-main-translucent-color);
  font-weight: 400;
  line-height: 1.29;
  font-size: 14px;
  letter-spacing: normal;
}
/* #endregion */

/* #region Tablet styles */
@media only screen and (min-width: 768px) {
  .footer-main-body {
    display: flex;
    gap: 78px;
    justify-content: space-between;
    margin-bottom: 120px;
  }
  .footer-logo-and-socials {
    flex-shrink: 0;
  }
  .footer-logo {
    width: 197px;
    height: 32px;
  }
  .footer-socials-list {
    margin-bottom: 0;
  }

  .footer-title {
    font-size: 40px;
    line-height: 1.11;
    margin-bottom: 20px;
  }
  .footer-text {
    margin-bottom: 64px;
    line-height: 1.33;
  }
  .footer-lead {
    margin-bottom: 20px;
    line-height: 1.33;
  }
  .footer-form-input {
    margin-bottom: 20px;
    width: 336px;
  }
  .footer-form-btn {
    width: 336px;
    margin-bottom: 0;
  }
  .footer-ending-container {
    display: flex;
    justify-content: space-between;
  }
}
/* #endregion */

/* #region Desktop styles */
@media only screen and (min-width: 1440px) {
  .footer-main-body {
    gap: 149px;
    margin-bottom: 128px;
  }
  .footer-main-info {
    display: flex;
    gap: 148px;
  }
}
/* #endregion */
