.header {
  padding: 18px 0;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-nav {
}

.header-nav-list {
  display: flex;
  gap: 6px;
}

.header-nav-item {
}

.header-nav-link {
  padding: 10px 20px;
  border-radius: 30px;
  background: #6d8434;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-nav-link:last-child {
  padding: 12px;
}

.header-cart-icon {
  fill: var(--light-main-color);
}
