.hero {
  padding: 54px 0 37px;
}

.container {
}

.hero-title {
  text-align: center;
  margin-bottom: 16px;
}

.hero-accent-title {
  color: var(--accent-color);
}

.hero-text {
  text-align: center;
  margin-bottom: 32px;
}

.hero-images {
  position: relative;
}

.hero-image {
  border-radius: 30px;
}

.hero-license-image {
  position: absolute;
  top: -7px;
  right: 8px;
}
