/* #region Phone styles */
.products {
  padding: 20px 0 40px;
}
.products-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.products-item {
  box-shadow: 0 9px 17px 0 rgba(0, 0, 0, 0.02),
    0 42px 46px 0 rgba(0, 0, 0, 0.04), 0 105px 125px 0 rgba(0, 0, 0, 0.05),
    0 208px 286px 0 rgba(0, 0, 0, 0.07);
  border-radius: 20px;
  background-color: var(--white-color);
  padding: 20px;
}
.products-item-image-container {
  position: relative;
  border-radius: 10px;
  padding: 20px 0;
  margin-bottom: 20px;
  background-color: var(--background-color);
}
.products-item-image {
  margin: 0 auto;
}
.products-item.is-discount .products-item-discount {
  width: 60px;
  height: 60px;
  background-image: url(../img/products-catalog/products-discount.svg);
  background-position: center;
  background-size: cover;
  background-color: transparent;
  position: absolute;
  top: -23px;
  right: -10px;
}
.products-subtitle {
  margin-bottom: 10px;
}
.products-item-decsr-list {
  display: flex;
  gap: 8px;
  margin-bottom: 40px;
}
.products-item-descr-item {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  color: rgba(1, 1, 1, 0.3);
}
.products-item-descr-item-value {
  color: var(--main-color);
}
.products-item-footer {
  display: flex;
  justify-content: space-between;
  align-items: end;
}
.products-item-price {
  font-size: 18px;
  line-height: 1.11;
}
.products-item-btn {
  border: none;
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  background-color: var(--accent-color);
}
.products-item-btn-icon {
  fill: var(--light-main-color);
}

.products-pagination-container {
  display: flex;
  gap: 8px;
  justify-content: center;
  max-width: 312px;
  margin: 0 auto;
  margin-top: 40px;
}
.products-pagination-container.hidden {
  display: none;
}
.products-pagination-left-side,
.products-pagination-center-side,
.products-pagination-right-side {
  display: flex;
  gap: 4px;
}
.product-pagination-nav-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 60px;
  padding: 8px;
  width: 40px;
  height: 40px;
  background-color: var(--white-color);
}
.product-pagination-nav-btn-icon {
  fill: none;
  stroke: #a3a3a3;
  stroke-width: 1.5;
}
.product-pagination-nav-btn:disabled .product-pagination-nav-btn-icon {
  stroke: rgba(163, 163, 163, 0.3);
}

.products-pagination-btn {
  padding: 10px 0;
  text-align: center;
  border-radius: 60px;
  width: 40px;
  height: 40px;
  line-height: 1.43;
  color: #a3a3a3;
  background-color: transparent;
}

.products-pagination-btn.active {
  color: rgba(232, 232, 226, 0.1);

  background-color: var(--accent-color);
}
/* #endregion */

/* #region Tablet styles */
@media only screen and (min-width: 768px) {
  .products {
    padding-bottom: 50px;
  }
  .products-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 32px;
  }
  .products-item {
    width: 336px;
  }
  .products-item-price {
    font-size: 20px;
    line-height: 1.2;
  }
  .products-pagination-container {
    gap: 32px;
    max-width: 472px;
    margin-top: 50px;
  }
  .products-pagination-left-side,
  .products-pagination-center-side,
  .products-pagination-right-side {
    gap: 8px;
  }
}
/* #endregion */

/* #region Desktop styles */
@media only screen and (min-width: 1440px) {
  .catalogs-container {
    display: flex;
    gap: 40px;
    max-width: 1440px;
    padding: 30px 100px 60px;
    margin: 0 auto;
  }
  .catalogs-container .container {
    padding: 0;
    min-width: 0;
  }
  .products {
    padding: 0;
  }
  .products-list {
    column-gap: 20px;
    row-gap: 40px;
  }
  .products-item {
    width: 295px;
  }

  .products-item-decsr-list {
    flex-wrap: wrap;
    margin-bottom: 20px;
  }
  .products-item-descr-item:nth-child(3) {
    flex-basis: 100%;
  }
  .products-pagination-container {
    margin-top: 40px;
  }
}
/* #endregion */
