:root {
  --font-family: 'Montserrat', sans-serif;
  --title-color: #010101;
  --second-title-color: #010101;
  --third-title-color: #010101;
  --main-color: rgba(1, 1, 1, 0.8);
  --main-translucent-color: rgba(1, 1, 1, 0.3);
  --accent-color: #6d8434;
  --light-main-color: #e8e8e2;
  --light-main-translucent-color: rgba(232, 232, 226, 0.7);
  --background-color: #e8e8e2;
}
